#reviews {
    align-items: flex-end;
}
#reviews .reviews__link {
    display: inline-block;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    text-align: center;
    color: var(--primary-light-6);
    margin-left: 15px;
    margin-bottom: 10px;
}
#reviews .card > div {
    padding: 0;
}
#reviews .card {
    border-radius: 2px;
    max-width: 240px;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.02);
    background: var(--character-light-primary-inverse);
    margin-left: auto;
}
.card__dounload {
    display: inline-block;
    margin: 12px 24px 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: var(--primary-light-6);
}
.card__text {
    margin-left: 24px;
    margin-bottom: 12px;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: var(--character-light-secondary-45);
}
#reviews .card__line {
    margin: 0;
}

.card__link {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    text-align: center;
    color: var(--character-light-title-85);
    margin: 0 0 0 8px;
    padding: 12px 0;
}
#reviews .card__item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px 0;
    width: 100%;
}
@media (max-width: 1012px) {
    #reviews .reviews__link {
        margin-left: 19px;
    }
    #reviews .card {
        margin-right: 5px;
    }
}
@media (max-width: 575px) {
    #reviews {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    #reviews .reviews__link_wrapper {
        order: 2;
    }

    #reviews > div {
        width: 100%;
    }
    #reviews .card {
        max-width: 100%;
        margin-left: 0;
        margin-bottom: 31px;
        text-align: center;
    }
    #reviews .reviews__link {
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #reviews .card {
        margin-right: 0;
    }
}
