#header {
    width: 100%;
    height: auto;
    padding: 13px 24px 22px;

    letter-spacing: 0.5px;

    background: var(--primary-light-1);
}

#header .header__breadcrumb {
    margin-bottom: 12px;
}

#header .header__breadcrumb span {
    font-family: var(--font-family);
    line-height: 130%;
    font-weight: 400;
    font-size: 14px;

    color: var(--character-light-title-85);
}

#header .header__row {
    position: relative;
}

#header .header__title {
    margin: 0;

    font-family: var(--font-family);
    font-weight: 700;
    font-size: 38px;
    line-height: 130%;
    color: var(--character-light-title-85);
}

#header .header__settings {
    position: absolute;
    top: 1px;
    right: 17px;

    display: flex;
    align-items: center;
    gap: 9px;

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    text-align: center;
    color: var(--character-light-title-85);
}

@media (max-width: 1053px) {
    #header .header__title {
        font-weight: 500;
        font-size: 24px;
    }

    #header .header__settings {
        top: 2px;
        right: 15px;
    }

    #header .header__settings span {
        display: none;
    }
}

@media (max-width: 644px) {
    #header .header__breadcrumb {
        margin-bottom: 6px;
    }

    #header .header__title {
        font-size: 20px;
    }

    #header .header__settings {
        top: -7px;
        right: 0;

        width: 32px;
        height: 32px;
        padding: 8px;

        background: var(--character-light-primary-inverse);
        border: 1px solid var(--character-light-border);
        border-radius: 100px;
        box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.04);
        overflow: hidden;
    }

    #header .header__settings span {
        display: inline-block;
    }
}
