#header {
    width: 100%;
    height: auto;
    background-color: #fff;
    padding: 16px 24px;
}
#header .header__breadcrumb {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: var(--character-light-title-85);
    margin-bottom: 14px;
}
#header .header__title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 38px;
    line-height: 130%;
    word-spacing: 2px;
    color: var(--character-light-title-85);
    margin: 0;
}
#header .header__row {
    position: relative;
    justify-content: space-between;
}
#header .header__settings {
    display: flex;
    align-items: center;
    gap: 9px;
    position: absolute;
    top: 1px;
    right: 17px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 15px;
    line-height: 130%;
    word-spacing: 4px;
    color: var(--character-light-title-85);
}
